<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <link rel="stylesheet" type="text/css" href="resources/css/my.css"/>
    <h:outputStylesheet name="css/my.css"/>
</h:head>
<h:messages globalOnly="true"/>
<h:form id="form">
    <p:growl id="growl" showDetail="true"/>
    <p:panel header="NFs">
        <p:dataTable id="nfs" var="nf" value="#{selection.nfs}" validator="selectValidation" selectionMode="single"
                     selection="#{selection.selectedNF}" rowKey="#{nf.id}">
            <f:facet name="header">Notas Fiscais Abertas</f:facet>

            <p:column headerText="NF-ID">
                <div align="center">
                    <h:outputText value="#{nf.id}"/>
                </div>
            </p:column>
            <p:column headerText="Observation">
                <h:outputText value="#{nf.observation}"/>
            </p:column>
            <p:column headerText="Document Date">
                <div align="center">
                    <h:outputText value="#{nf.documentDate}">
                        <f:convertDateTime pattern="dd MMMM yyyy"/>
                    </h:outputText>
                </div>
            </p:column>
            <p:column headerText="Expiration Date">
                <div align="center">
                    <h:outputText value="#{nf.expirationDate}">
                        <f:convertDateTime pattern="dd MMMM yyyy"/>
                    </h:outputText>
                </div>
            </p:column>
            <p:column headerText="Geração com Boleto?">
                <div align="center">
                    <p:selectBooleanCheckbox value="#{nf.bilet}"/>
                </div>
            </p:column>
             <f:facet name="footer">

                <p:commandButton id="gerarPDF" value="Gerar PDF" validator="selectValidation" rendered="true" onclick="if (! confirm('Confirma a geração de NF?')) return false" ajax="false" icon="ui-icon-arrowthick-1-s">
                    <p:fileDownload value="#{reportController.getExportReportPDF(selection.selectedNF)}"/>
                </p:commandButton>
            </f:facet>
        </p:dataTable>
    </p:panel><BR/>
    <p:fieldset legend="NF_Info.jrxml" toggleable="true" toggleSpeed="500" collapsed="true">
        <p:ajax event="toggle" listener="#{fieldsetView.handleToggle}" update="growl"/>
        <h:panelGrid columns="2" cellpadding="5">
            <h:outputText value="#{fieldsetView.infoText}"></h:outputText>
        </h:panelGrid>
    </p:fieldset><BR/>
    <p:fieldset legend="NF_Boleto.jrxml" toggleable="true" toggleSpeed="500" collapsed="true">
        <p:ajax event="toggle" listener="#{fieldsetView.handleToggle}" update="growl"/>
        <h:panelGrid columns="2" cellpadding="5">
            <h:outputText value="#{fieldsetView.boletoText}"></h:outputText>
        </h:panelGrid>
    </p:fieldset>
</h:form>
</html>
